
#strainID {
    font-size: 200%;
}

body {
    background-color: #ebd5b3;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

/* #container {
	/* margin: 20px auto;
	max-width: 600px; */


h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: #6e93c9;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: #dab171;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #142a4c;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: #dab171;
}

#description {
    background-color: #dab171;
    font-family: 'Courier New', Courier, monospace;
}

img {
	width: 100%;
	height: 100%;
}

/*center container*/
#container {
	margin: 0 auto;
}